.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

gradlew
app/build
.idea
gradlew.bat
local.properties
gradle.properties
gradle
app/app.iml
build
ObjectPool.iml